<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>  .blink { animation: blinker 2.0s linear infinite; color: white; font-family: sans-serif; } @keyframes blinker { 50% { opacity: 0;  }  }  </style> </head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>HI Access Denied</h3>
			</div>
			<div class="card-body">
				
					<div class="row" align="right">
						<div class="col-8"><h5><a href="/trust/employeewelcomepage">Home Page</a></h5></div>
						<div class="col-2"><h5><a href="/logout">Logout</a></h5></div>
					</div>
					<hr>
					<br><br><br><br>
					<br>
					<div class="row" align="center">
						<div class="col-12"><h2>Sorry..! You Are Not Authorized To Access This Page</h2></div>
					</div>
					<br><br><br><br><br><br><br><br>
					<div class="col-15" align="right">Contact your Administrator ..<h3> Sri Basavalinga Avadhoot</h3></div>
			</div>	
			<div class="card bg-secondary text-white">
		<div class="row">
				<div class="col-3">Contact : <b>+91-63 0529 0187</b></div>
				<div class="col-4">	Email : <b>mallayyagiri121@gmail.com</b></div>
				<div class="col-5">Address : <b>C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</b></div>
			</div>
	</div>
		</div>
	</div>
	
</body>
</html>