<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<meta charset="ISO-8859-1">
<title>Employee Information List</title>
<style>  .blink { animation: blinker 2.0s linear infinite; color: white; font-family: sans-serif; } @keyframes blinker { 50% { opacity: 0;  }  }  </style> </head>
<body>

	
	<table>
		<tr height="950">
			<td>
				<div class="card-footer bg-primary text-white" align="center">
					
					<!-- Header -->
					<div>
						<table>
							<tr>
								<td width="20px"></td>
								<td><img alt="No Internet" src="../static/assets/images/appajimages/logo3.png" height="160" width="170"></td>
								<td align="center"><H3> <b><a href="/trust/adminfunction"><font size="7" color="pink">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM, MALLAYYAGIRI</font></a></b></h3></td>
								<td><img alt="No Internet" src="../static/assets/images/appajimages/logo1.png" height="160" width="180"></td>
								<td width="20px"></td>
							</tr>
						</table>
					</div>
					<!-- End -->
					
					<!--Body  -->
					<div>
						<table>
							<tr>
								
								<td> <a href="/trust/adminfunction"> <img alt="No Internet" src="../static/assets/images/appajimages/back.png" width="100px" height="100px"></a></td>
								<td width="100"/>
								<td><b><font size="6" color="yellow"><u>EMPLOYEE LIST INFORMANTION</u></font></b></td>
							</tr>
						</table>
				
						<div align="center" style='color: green'><b> <span th:text="${msg}"></span></b></div>
						<div align="center" style='color: red'><b> <span th:text="${remove}"></span></b></div>
		
						
						
						<div th:if="${empinfolist!=null}">
					<!-- <table border="1">
						<tr class="bg-info text-white">
							<th width="180px">Employee Name</th>
							<th width="230px">Login ID</th>
							<th width="80px">Password</th>
							<th width="100px">Role</th>
							<th width="130px">Phone Number</th>
							<th width="150px">Photo</th>
							<th width="150px">Links</th>
						</tr>
						<tr th:each="employee : ${empinfolist}">
							<td th:text="${employee.aid}"></td>
							<td th:text="${employee.aemail}"></td>
							<td th:text="${employee.apassword}"></td>
							<td th:text="${employee.arole}"></td>
							<td th:text="${employee.aphone}"></td>
							
							<td> 
								<div th:if="${employee.aimage!=null}">
									<a th:href="@{/trust/employeeprofileupdate(aid=${employee.aid})}">
										<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(employee.aimage)}" width="100px"/>
									</a>
								</div>
							 </td>
										
								<td><a th:href="@{/trust/employeeprofileremove(aid=${employee.aid})}">Delete_Profile</a></td>
						</tr>
						
					</table> -->
						
						
							<table border="1" class="card bg-secondary text-white">
								<tr>
									<th width="300px"><b><font size="5" color="white">EMPLOYEE NAME</font></b></th>
									<th width="300px"><b><font size="5" color="white">LOGIN ID</font></b></th>
									<th width="300px"><b><font size="5" color="white">PASSWORD</font></b></th>
									<th width="300px"><b><font size="5" color="white">ROLE</font></b></th>
									<th width="300px"><b><font size="5" color="white">PHONE NUMBER</font></b></th>
									<th width="300px"><b><font size="5" color="white">PHOTO</font></b></th>
									<th width="300px"><b><font size="5" color="white">LINK</font></b></th>
								</tr>
								<tr th:each="employee : ${empinfolist}" height="50px">
									<td th:text="${employee.aid}"></td>
									<td th:text="${employee.aemail}"></td>
									<td th:text="${employee.apassword}"></td>
									<td th:text="${employee.arole}"></td>
									<td th:text="${employee.aphone}"></td>
									<td> 
										<div th:if="${employee.aimage!=null}">
											<a th:href="@{/trust/employeeprofileupdate(aid=${employee.aid})}">
												<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(employee.aimage)}" width="100px"/>
											</a>
										</div>
							 		</td>
										<td><a th:href="@{/trust/employeeprofileremove(aid=${employee.aid})}"><b><font size="4" color="Red"><u>DELETE</u></font></b></a></td>
								</tr>
							</table>
						</div>

						
					</div>
					<!-- End -->
					
					<!-- footer -->
					<div>
						<table>
							<tr align="center">
								<td><font size="5" color="Yellow">Cell : <b><u> +916305290187 </b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="Yellow">Email Id : <u><b>mallayyagiri121@gmail.com</b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="Yellow">Address : <u><b>C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</b></u></font></td>
							</tr>
						</table>
					</div>
					<!-- End -->

				</div>
			</td>
		</tr>
	</table>
















<!-- 
	<div>
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<table>
					<tr>
						<td width="40px"></td>
						<td> <img alt=" " src="../static/assets/images/appajimages/appaji8.jpg" height="160" width="160"></td>
						<td width="950px" align="center"><H3><b><a href="/trust/adminfunction"><font size="6" color="white">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM</font></a></b></h3></td>
						<td> <img alt=" " src="../static/assets/images/appajimages/logo.jpg" height="160" width="160"></td>
					</tr>
				</table>
			</div>
			<div class="card-body">
				<table>
				<tr>
					<td> <a href="/trust/ashramemppage"><b><font size="5" color="chocolate">Back</font></b></a></td>
					<td> <b><font size="6" color="black"><span th:text="${name}"></span></font></b></td>
					<td width="200"/>
					<td> <b><font size="6" color="green">Ashram Employee List</font></b></td>
					<td width="120"/>
					<td> <a href="/trust/adminempinfo"><b><font size="5" color="chocolate">Refresh</font></b></a></td>
				</tr>
			</table>	
				
				<div align="center" style='color: green'><b> <span th:text="${msg}"></span></b></div>
				<div align="center" style='color: red'><b> <span th:text="${remove}"></span></b></div>
		
				admin , all employee details information list 
				<div th:if="${empinfolist!=null}">
					<table border="1">
						<tr class="bg-info text-white">
							<th width="180px">Employee Name</th><th width="230px">Login ID</th><th width="80px">Password</th><th width="100px">Role</th>
							<th width="130px">Phone Number</th><th width="150px">Photo</th><th width="150px">Links</th>
						</tr>
						<tr th:each="employee : ${empinfolist}">
							<td th:text="${employee.aid}"></td>
							<td th:text="${employee.aemail}"></td>
							<td th:text="${employee.apassword}"></td>
							<td th:text="${employee.arole}"></td>
							<td th:text="${employee.aphone}"></td>
							
							<td> 
								<div th:if="${employee.aimage!=null}">
									<a th:href="@{/trust/employeeprofileupdate(aid=${employee.aid})}">
										<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(employee.aimage)}" width="100px"/>
									</a>
								</div>
							 </td>
										
								<td><a th:href="@{/trust/employeeprofileremove(aid=${employee.aid})}">Delete_Profile</a></td>
						</tr>
						
					</table>
				</div>
	
			</div>
		<div class="card bg-secondary text-white">	
				<table>
					<tr height="100" align="center">
						<td width="220"><b><font size="5" color="white">+91-63 0529 0187</font></b></td>
						<td width="200"><b><font size="5" color="white">mallayyagiri121@gmail.com</font></b></td>
						<td><b><font size="5" color="white">C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</font></b></td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	 -->
</body>
</html>