<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<meta charset="ISO-8859-1">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<title>Yoga Registration Form</title>
<style>
.blink {
	animation: blinker 2.0s linear infinite;
	color: white;
	font-family: sans-serif;
}

@
keyframes blinker { 50% {
	opacity: 0;
}
}
</style>
</head>
<script type="text/javascript">
(function clickMe() {
	  const button = document.getElementById("button");
	 	var name = $('.vname').text();
	 	var id = $('.vid').text();
	  var link = "https://springboot-trust-app.herokuapp.com/trust/viewyoga?vid="+id;
	  button.addEventListener("click", event => {
	    window.open("https://api.whatsapp.com/send?phone=7032358432&text=(YOGA PROFILE) Name: " +name+" , Click Link for More.. "+link)
	  });
	})();

	/* $(document).ready(function() {
		$("#ybatch").change(function() {
			var ybatch=$("#ybatch").val();
			if(ybatch==""){
			
			} else{
				$.ajax({
					url : 'checkYogaIdCardCount',
					data : {
						'yidcard' : $("#yidcard").val(),'ybatch' : $("#ybatch").val()
					},
					success : function(resTxt) {
							$("#emailError").text(resTxt);
					}
				});
			}
		});
	});
	 */
	
	 function getfingerprint(){
		$.ajax({
				url : 'getfingerprint',
				data : {
					
				},
				success : function(resTxt) {
					/* $("#emailError").text(resTxt); */
				}
			});
	 }
	 
	</script>


<body>

	<table>
		<tr height="950">
			<td>
				<div class="card bg-secondary text-white" align="center">

					<!-- Header -->
					<div>
						<table>
							<tr>
								<td width="20px"></td>
								<td><img alt="No Internet"src="../static/assets/images/appajimages/logo3.png" height="160" width="170"></td>
								<td align="center"><H2><b><a href="/trust/yoga"><font size="7" color="pink">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM, MALLAYYAGIRI</font></a></b> </h2></td>
								<td><img alt="No Internet" src="../static/assets/images/appajimages/logo1.png" height="160" width="180"></td>
								<td width="20px"></td>
							</tr>
						</table>
					</div>
					<!-- End -->

					<!--Body  -->
					<div>
						<form th:action="@{/trust/getfingerprints}" method="GET">
							<table>
								<tr>
									<td width="400" />
									<td><a href="/trust/yoga"> <img alt="No Internet" src="../static/assets/images/appajimages/back.png" width="80px" height="80px"></a></td>
									<!-- <td>
										<div th:if="${tmb==null}"> <img src="" width="100px" height="100px">
										<input type="submit" onclick="getfingerprint()" value="GET FINGER PRINT" class="btn btn-success" /><b><font size="5" color="white">(Click After 2 Second)</font></b>									
									</div><div th:if="${tmb=='1'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint1.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='2'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint2.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='3'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint3.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='4'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint4.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='5'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint5.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='6'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint6.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='7'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint7.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='8'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint8.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='9'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint9.jpg" width="100px" height="100px"> </div>
									<div th:if="${tmb=='10'}"> <img alt="No Internet" src="../static/assets/images/appajimages/fingerprint10.jpg" width="100px" height="100px"> </div> 
									</td> -->
									<td width="100" />
									<td><b><font size="7" color="yellow">WELCOME TO YOGA REGISTRATIONS</font></b></td>
									<td width="400" />
									<td>
										<div th:if="${msg!=null}">
											<img alt="No Internet" src="../static/assets/images/appajimages/success.png" width="110px" height="110px">
											<!-- <div><font size="6" color="green"><b><span th:text="${msg}" style='color: pink'></span> <span th:text="${visitorname}" style='color: pink'></span></b></font></div> -->
										</div>
									</td>
								</tr>
							</table>
						</form>

						<form th:action="@{/trust/yogaregistrationdetails}" method="POST" enctype="multipart/form-data">
							<table>
								<tr>
									<td>
										<table>
											<tr>
												<td><b><font size="5" color="white"> IN DATE: </font></b><input type="datetime-local" name="yindate" /></td>
												<td><b><font size="5" color="white"> OUT DATE: </font></b><input type="datetime-local" name="youtdate" /></td>
											</tr>
										</table> <br>
										<div align="center"> <b><font size="5" color="Red"><span id="emailError"></span></font></b></div>
										<table>
											<tr>
												<td width="220"><b><font size="5" color="white">YOGA ID NO: </font></b></td> <td><input type="text" name="yidcard" id="yidcard" class="form-control" required="required" /></td>
												<td width="130" align="center"><b><font size="5" color="white">BATCH: </font></b></td> <td width="130"><select name="ybatch" id="ybatch" onchange="(ybatch)" class="form-control" required="required">
														<option value="">-SELECT-</option>
														<option value="11">11</option>
														<option value="10">10</option>
														<option value="9">9</option>
														<option value="8">8</option>
														<option value="7">7</option>
														<option value="6">6</option>
														<option value="5">5</option>
														<option value="4">4</option>
														<option value="3">3</option>
														<option value="2">2</option>
														<option value="1">1</option>
												</select></td>
											</tr>
										</table>
										<table>
											<tr><td><b><font size="5" color="white">FULL NAME: </font></b></td> <td width="600px"><input type="text" name="yfullname" class="form-control" /></td> </tr>
											<tr>
												<td>
													<table>
														<tr>
															<td><b><font size="5" color="white">FATHER	<input type="radio" name="ynameopt" value="FATHER" /></font></b></td>
															<td><b><font size="5" color="white">/HUSBAND<input type="radio" name="ynameopt" value="HUSBAND" /> </font></b></td>
															<td><b><font size="5" color="white">/WIFE	<input type="radio" name="ynameopt" value="WIFE" /></font></b></td>
														</tr>
													</table>
												</td>
												<td><input type="text" name="yfatherhusbandname" class="form-control" /></td>
											</tr>
											<tr> <td><b><font size="5" color="white">AGE: </font></b></td><td><input type="text" name="yage" class="form-control" /></td> </tr>
											<tr><td><b><font size="5" color="white">GENDER:</font></b></td><td>
													<input type="radio" name="ygender" value="MALE" />MALE <input type="radio" name="ygender" value="FEMALE" />FEMALE</td><tr>
											<tr><td><b><font size="5" color="white">MARITUAL STATUS: </font></b></td>
												<td><select name="ymaritualstatus" class="form-control">
														<option value="">-SELECT-</option>
														<option value="Married">Married</option>
														<option value="Unmarried">Unmarried</option>
												</select></td></tr>
											<tr><td><b><font size="5" color="white">OCCUPATION:</font></b></td> <td><input type="text" name="yoccupation"class="form-control" /></td> </tr>
											<tr><td><b><font size="5" color="white">AADHAR NUMBER: </font></b></td><td><input type="text" name="yaadharnumber" class="form-control" /></td></tr>
											<tr><td><b><font size="5" color="white">DISEASE: </font></b></td> <td><input type="text" name="ydisease" class="form-control" /></td></tr>
											<tr><td><b><font size="5" color="white">FULLADDRESS: </font></b></td><td><textarea name="ypermanentaddress"class="form-control" /></textarea></td></tr>
										</table>
										<br>
										<table>
											<tr>
												<td><b><font size="5" color="white">MOBILENUMBER: </font></b></td><td><input type="text" name="ymobilenumber" class="form-control" /></td>
												<td><b><font size="5" color="white">EMERGENCY NO: </font></b></td> <td><input type="text" name="yemergencyno" class="form-control" /></td>
											</tr>
										</table>
									</td>
									<td width="20"></td>
									<td><img id="output" src="" width="450px" height="600px"></td>
									<td width="20"></td>
									<td><img alt="No Internet" src="../static/assets/images/appajimages/throught3.jpg" width="750px" height="560px"></td>
								</tr>
								<tr>
									<td><div class="cal-3"> <input type="submit" value="SUBMIT YOGA FORM" class="btn btn-success" /> </div></td>
									<td width="20"></td>
									<td><b><font size="5" color="yellow">Take Photo </font></b><input name="imageFile" type="file" accept="image/*" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" required="required"></td>
								</tr>
							</table>
							<hr>

							<table>
								<tr>
									<td width="600px"><input type="text" name="yguardiansign"class="form-control" /></td>
									<td width="500px"></td>
									<!-- <td width="600px"> <input type="text" name="yinchargesign" class="form-control"  /></td> -->
									<td width="600px"><select name="yinchargesign"class="form-control">
											<option value="">-SELECT-</option>
											<option value="SatishPatil">Satish Patil</option>
											<option value="LokeshPatil">Lokesh Patil</option>
									</select></td>
								</tr>
								<tr>
									<td width="600px"><b><font size="5" color="white">GUARDIANSIGN </font></b></td>
									<td width="500px"></td>
									<td width="600px"><b><font size="5" color="white">INCHARGESIGN </font></b></td>
								</tr>
							</table>

							<b>SELF DECLARATION :-</b>
							<p>I/We Hereby Declare that I/We shall strictly allow all Ashrama rules of Sri Basavalinga Avadhoota Ashram and The ashrama is conducting yoga shibira are so I/We are participating in the yoga voluntary, so any risk for 
								health concern or else any short things happen I/We responsible for the same for which ashrama will not responsible for any type of loss harm theft abnormality missing emergencies etc. I are aware that there is
								no emergency service available at Sri basavalinga avadhoota ashram and we are staying here on our own risk and the Sri basavalinga avadhoota ashrama will not be responsible for theabove.</p>
						</form>
					</div>
					<!-- End -->

					<!-- footer -->
					<div>
						<table>
							<tr align="center">
								<td><font size="5" color="white">Cell : <b><u> +916305290187 </b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="white">Email Id : <u><b>mallayyagiri121@gmail.com</b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="white">Address : <u><b>C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</b></u></font></td>
							</tr>
						</table>
					</div>
					<!-- End -->

				</div>
			</td>
		</tr>
	</table>


	<!-- <div class="container"> -->
	<!-- <div>	
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<table>
					<tr>
						<td width="40px"></td>
						<td> <img alt="No Internet" src="../static/assets/images/appajimages/appaji8.jpg" height="160" width="160"></td>
						<td width="950px" align="center"><H3><b><a href="/trust/yoga"><font size="6" color="white">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM</font></a></b></h3></td>
						<td> <img alt="No Internet" src="../static/assets/images/appajimages/logo.jpg" height="160" width="160"></td>
					</tr>
				</table>
			</div>
		
			<div class="card-body">
				<table style="color: blue;">
					<tr align="center">
						<td width="910px" align="center"> <H4><b><font size="6" color="green">APPLICATION FOR PARTICIPATING YOGA SADHANA SHIBIRA</font></b></h4> </td>
						<td>
								<div th:if="${msg!=null}">
								<input type="image" id='button' src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" name="submit" width="120" height="100" alt="submit"/>
							</div>
						</td>
					</tr>
				</table>
				<br>
				Form submission start
				<form th:action="@{/trust/yogaregistrationdetails}" method="POST" enctype="multipart/form-data">
				
				<table>
					<tr>
						<td> 
							<table>
								<tr>
									<td><b><font size="4" color="white"> IN DATE:		</font></b><input type="datetime-local" name="yindate"/></td>
									<td><b><font size="4" color="Black"> OUT DATE:		</font></b><input type="datetime-local" name="youtdate"/> </td> 
									<td><b><font size="4" color="Black"> IN DATE:		</font></b><input type="text" name="yindate" value="06-Oct-2022 01:58 PM"/></td>
									<td><b><font size="4" color="Black"> OUT DATE:		</font></b><input type="text" name="youtdate" value="06-Oct-2022 01:58 PM"/> </td> 
								</tr>
							</table>
							<br>
							<div align="center"><b><font size="4" color="Red"><span id="emailError"></span></font></b></div>
							<table>		
								<tr>
									<td><b><font size="4" color="Black">YOGA ID NUMBER:		</font></b></td>	<td><input type="text" name="yidcard" id="yidcard" class="form-control" required="required"/></td>
									<td><b><font size="4" color="Black">BATCH:		</font></b></td>	<td><select name="ybatch" id="ybatch" class="form-control" required="required"> 
																			<option value="">-SELECT-</option> 
																			<option value="11">11</option>
																			<option value="10">10</option>
																			<option value="9">9</option>
																			<option value="8">8</option>
																			<option value="7">7</option>
																			<option value="6">6</option>
																			<option value="5">5</option>
																			<option value="4">4</option>
																			<option value="3">3</option>
																			<option value="2">2</option>
																			<option value="1">1</option>
																		</select></td>
								</tr>
							</table>
							<table>
								<tr><td><b><font size="4" color="Black">FULL NAME:			</font></b></td>	<td width="600px"><input type="text" name="yfullname" class="form-control" /></td></tr>
								<tr><td><b><font size="4" color="Black">FATHER/HUSBAND NAME:	</font></b></td>	<td><input type="text" name="yfatherhusbandname" class="form-control"  /></td></tr>
								<tr><td><b><font size="4" color="Black">DATE OF BIRTH:		</font></b></td>	<td><input type="text" name="ydateofbirth" class="form-control"  /></td></tr>
								<tr><td><b><font size="4" color="Black">AGE:		</font></b></td>	<td><input type="text" name="yage" class="form-control"  /></td></tr>
								<tr><td><b><font size="4" color="Black">GENDER:				</font></b></td>	<td><input type="radio" name="ygender" value="MALE" /> MALE <input type="radio" name="ygender" value="FEMALE" /> FEMALE </td><tr>
								<tr><td><b><font size="4" color="Black">MARITUAL STATUS:		</font></b></td>	<td><select name="ymaritualstatus" class="form-control" > <option value="">-SELECT-</option> <option value="Married">Married</option> <option value="Unmarried">Unmarried</option> </select></td></tr>
								<tr><td><b><font size="4" color="Black">BLOOD GROUP:		</font></b>	</td>	<td><select name="ybloodgroup" class="form-control" > <option value="">-SELECT-</option>  <option value="A Positive">(A+ve)</option> <option value="A Negative">(A-ve)</option> <option value="B Positive">(B+ve)</option> <option value="B Negative">(B-ve)</option> <option value="O Positive">(O+ve)</option> <option value="O Negative">(O-ve)</option> <option value="AB Positive">(AB+ve)</option> <option value="AB Negative">(AB-ve)</option><option value="None">None</option></select>
								<tr><td><b><font size="4" color="Black">OCCUPATION:		</font></b></td>	<td><input type="text" name="yoccupation" class="form-control"  /></td></tr>
								<tr><td><b><font size="4" color="Black">AADHAR NUMBER:		</font></b></td>	<td><input type="text" name="yaadharnumber" class="form-control"  /></td></tr>
								<tr><td><b><font size="4" color="Black">OCCUPATION:			</font></b></td>	<td><select name="yoccupation" class="form-control" > <option value="">-SELECT-</option>
																			<option value="Agriculture">Agriculture</option> <option value="3D Works">3D Works</option> <option value="Accounts">Accounts</option> <option value="Advocate">Advocate</option> <option value="Agarbatti making">Agarbatti making</option> <option value="Agriculture shop">Agriculture shop</option> <option value="Auto Driver">Auto Driver</option> <option value="Auto mobile shop">Auto mobile shop</option> <option value="Bakery works">Bakery works</option> <option value="Banks work">Banks work</option>
																			<option value="Bed makers">Bed makers</option> <option value="Bike Mechanic">Bike Mechanic</option> <option value="Book store">Book store</option> <option value="Bus Driver">Bus Driver</option> <option value="Business works">Business works</option> <option value="Car Decors Works">Car Decors Works</option> <option value="Car Driver">Car Driver</option> <option value="Car Mechanic">Car Mechanic</option> <option value="Carpenter">Carpenter</option>
																			<option value="Cccamera works">Camera works</option> <option value="Cement sales">Cement sales</option> <option value="Centring mestri">Centring mestri</option> <option value="Chart bhandar">Chart bhandar</option> <option value="Charter accounts">Charter accounts</option> <option value="Civil engineers">Civil engineers</option> <option value="ClothShop Work">ClothShop Work</option> <option value="Company">Company</option> <option value="Computer and laptop repair">Computer and Laptop repair</option> <option value="Conductor">Conductor</option>
																			<option value="Cook">Cook</option> <option value="Dholak player">Dholak player</option> <option value="Doctor">Doctor</option> <option value="Electrical Technician">Electrical Technician</option> <option value="Farmer">Farmer</option> <option value="Fastfood center">Fastfood center</option> <option value="Financial analyst">Financial analyst</option> <option value="Flower sales">Flower sales</option> <option value="Foot wear">Foot wear</option>
																			<option value="Fruits sales">Fruits sales</option> <option value="Furniture">Furniture</option> <option value="GOvernment Employee">GOvernment Employee</option> <option value="General store">General store</option> <option value="Goldsmith">Goldsmith</option> <option value="Government Teacher">Government Teacher</option> <option value="Hair saloon">Hair saloon</option> <option value="Hardware shop">Hardware shop</option> <option value="House wife">House wife</option> <option value="Housekeeper">Housekeeper</option>
																			<option value="Juice center">Juice center</option> <option value="Kiranshop Work">Kiranshop Work</option> <option value="Labour Work">Labour Work</option> <option value="Lawyer">Lawyer</option> <option value="Leaders">Leaders</option> <option value="Lorry Driver">Lorry Driver</option> <option value="Media Press">Media Press</option> <option value="Medical store">Medical store</option> <option value="Mobile sales and repair">Mobile sales and repair</option>
																			<option value="Music Keyboard Player">Music Keyboard Player</option> <option value="Music director">Music director</option> <option value="Nurse">Nurse</option> <option value="Optical">Optical</option> <option value="Painting works">Painting works</option> <option value="Petrol working">Petrol working</option> <option value="Photo Studio">Photo Studio</option> <option value="Photo frame shop">Photo frame shop</option> <option value="Photographay">Photographay</option> <option value="Photos frame makers">Photos frame makers</option>
																			<option value="Plumber Technician">Plumber Technician</option> <option value="Police officers">Police officers</option> <option value="Politician">Politician</option> <option value="Post man">Post man</option> <option value="Printing Press">Printing Press</option> <option value="Private Employee">Private Employee</option> <option value="Private Teacher">Private Teacher</option> <option value="Rto">Rto</option> <option value="Singer">Singer</option> <option value="Software Engineering">Software Engineering</option> <option value="Software developers">Software developers</option>
																			<option value="Sound system operating">Sound system operating</option> <option value="Student ">Student</option> <option value="Tabala player">Tabala player</option> <option value="Tailor">Tailor</option> <option value="Temple poojari">Temple poojari</option> <option value="Tiffin Center">Tiffin Center</option> <option value="Tiles works">Tiles works</option> <option value="Tractor Driver">Tractor Driver</option> <option value="Transport work">Transport work</option> <option value="Vegetable sales">Vegetable sales</option> <option value="Videographay">Videographay</option> <option value="Watch man duty">Watch man duty</option>
																			<option value="Welding Work">Welding Work</option> <option value="Wine shop working">Wine shop working</option> <option value="Writer">Writer</option> <option value="Lab technician">Lab technician</option>
																			</select></td></tr>
								<tr><td><b><font size="4" color="Black">PRESENT ADDRESS:		</font></b></td>	<td><textarea name="ypresentaddress" class="form-control"  /></textarea></td></tr>
								<tr><td><b><font size="4" color="Black">DISEASE:				</font></b></td>	<td><input type="text" name="ydisease" class="form-control"  /></td></tr>
								<tr><td><b><font size="4" color="Black">FULL ADDRESS:	</font></b></td>	<td><textarea name="ypermanentaddress" class="form-control"  /></textarea></td></tr>
							</table><br>
							<table>		
								<tr><td><b><font size="4" color="Black">MOBILE NUMBER:		</font></b></td>	<td><input type="text" name="ymobilenumber" class="form-control"  /></td>
									<td><b><font size="4" color="Black">EMERGENCY NO:				</font></b>	</td>	<td><input type="text" name="yemergencyno" class="form-control"  /></td>
								</tr>
							</table>
							<table>
								<tr>
									<td><b><font size="4" color="Black">WEIGHT:				</font></b></td>	<td><input type="text" name="yweight" class="form-control"  /></td>
									<td><b><font size="4" color="Black">BP:					</font></b></td>	<td><input type="text" name="ybp" class="form-control"  /></td>
									<td><b><font size="4" color="Black">PULSE RATE:			</font></b></td>	<td><input type="text" name="ypulserate" class="form-control"  /></td>
									<td><b><font size="4" color="Black">SUGAR:				</font></b></td>	<td><select name="ysugar" class="form-control"> <option value="">-SELECT-</option> <option value="Yes">Yes</option> <option value="No">No</option> </select></td>
								</tr>
							</table> 
							
						</td>
						<td width="20"></td>
						<td> <img id="output" src=""  width="450px" height="600px"></td> 
					</tr>
					<tr>
						<td><div class="cal-3"><input type="submit" value="SUBMIT YOGA FORM" class="btn btn-success" /></div></td>
						<td width="20"></td>
						<td><b><font size="5" color="green">Take Photo </font></b><input name="imageFile" type="file" accept="image/*" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" required="required"></td>
					</tr>
					<tr>
						<td><div th:if="${msg!=null}">
								<div><font size="6" color="green"><span th:text="${msg}" style='color: green'></span> <span th:text="${visitorname}" style='color: green'></span></font></div>
								
								<div class="vname"><font size="1" color="white"> <span th:text="${visitorname}" style='color: white'></span></font></div>
								<div class="vid"><font size="1" color="white"><span th:text="${visitorid}" style='color: white'></span></font></div>
							</div></td>
					</tr>		
				</table>
				
				
				<table>
					<tr>
						<td width="500px"> IN DATE:		<input type="datetime-local" name="yindate"  /></td>
						<td width="500px"> OUT DATE:	<input type="datetime-local" name="youtdate" /> </td>
						<td width="500px"> PICTURE:	  	<input name="imageFile" type="file" accept="image/*" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" required="required"></td>
					</tr>
				</table>	
				<br>
				<table>		
					<tr><td  width="200px">YOGA ID NUMBER:		</td>	<td width="400px"><input type="text" name="yidcard" class="form-control" /></td>
						<td  width="100px">BATCH:		</td>	<td width="300px"><input type="text" name="ybatch" class="form-control"  /></td>
					</tr>
				</table>
				<table>
					<tr><td  width="200px">FULL NAME:			</td>	<td width="800px"><input type="text" name="yfullname" class="form-control" /></td></tr>
					<tr><td  width="200px">FATHER/HUSBAND NAME:	</td>	<td><input type="text" name="yfatherhusbandname" class="form-control"  /></td></tr>
					<tr><td  width="200px">DATE OF BIRTH:		</td>	<td><input type="text" name="ydateofbirth" class="form-control"  /></td></tr>
					<tr><td  width="200px">GENDER:				</td>	<td><input type="radio" name="ygender" value="MALE" /> MALE <input type="radio" name="ygender" value="FEMALE" /> FEMALE </td><tr>
					<tr><td  width="200px">MARITUAL STATUS:		</td>	<td><select name="ymaritualstatus" class="form-control" > <option value="">-SELECT-</option> <option value="Married">Married</option> <option value="Unmarried">Unmarried</option> </select></td></tr>
					<tr><td  width="200px">BLOOD GROUP:			</td>	<td><select name="ybloodgroup" class="form-control" > <option value="">-SELECT-</option>  <option value="A Positive">(A+ve)</option> <option value="A Negative">(A-ve)</option> <option value="B Positive">(B+ve)</option> <option value="B Negative">(B-ve)</option> <option value="O Positive">(O+ve)</option> <option value="O Negative">(O-ve)</option> <option value="AB Positive">(AB+ve)</option> <option value="AB Negative">(AB-ve)</option></select>
					<tr><td  width="200px">OCCUPATION:			</td>	<td><select name="yoccupation" class="form-control" > <option value="">-SELECT-</option>
																			<option value="Agriculture">Agriculture</option> <option value="3D Works">3D Works</option> <option value="Accounts">Accounts</option> <option value="Advocate">Advocate</option> <option value="Agarbatti making">Agarbatti making</option> <option value="Agriculture shop">Agriculture shop</option> <option value="Auto Driver">Auto Driver</option> <option value="Auto mobile shop">Auto mobile shop</option> <option value="Bakery works">Bakery works</option> <option value="Banks work">Banks work</option>
																			<option value="Bed makers">Bed makers</option> <option value="Bike Mechanic">Bike Mechanic</option> <option value="Book store">Book store</option> <option value="Bus Driver">Bus Driver</option> <option value="Business works">Business works</option> <option value="Car Decors Works">Car Decors Works</option> <option value="Car Driver">Car Driver</option> <option value="Car Mechanic">Car Mechanic</option> <option value="Carpenter">Carpenter</option>
																			<option value="Cccamera works">Camera works</option> <option value="Cement sales">Cement sales</option> <option value="Centring mestri">Centring mestri</option> <option value="Chart bhandar">Chart bhandar</option> <option value="Charter accounts">Charter accounts</option> <option value="Civil engineers">Civil engineers</option> <option value="ClothShop Work">ClothShop Work</option> <option value="Company">Company</option> <option value="Computer and laptop repair">Computer and Laptop repair</option> <option value="Conductor">Conductor</option>
																			<option value="Cook">Cook</option> <option value="Dholak player">Dholak player</option> <option value="Doctor">Doctor</option> <option value="Electrical Technician">Electrical Technician</option> <option value="Farmer">Farmer</option> <option value="Fastfood center">Fastfood center</option> <option value="Financial analyst">Financial analyst</option> <option value="Flower sales">Flower sales</option> <option value="Foot wear">Foot wear</option>
																			<option value="Fruits sales">Fruits sales</option> <option value="Furniture">Furniture</option> <option value="GOvernment Employee">GOvernment Employee</option> <option value="General store">General store</option> <option value="Goldsmith">Goldsmith</option> <option value="Government Teacher">Government Teacher</option> <option value="Hair saloon">Hair saloon</option> <option value="Hardware shop">Hardware shop</option> <option value="House wife">House wife</option> <option value="Housekeeper">Housekeeper</option>
																			<option value="Juice center">Juice center</option> <option value="Kiranshop Work">Kiranshop Work</option> <option value="Labour Work">Labour Work</option> <option value="Lawyer">Lawyer</option> <option value="Leaders">Leaders</option> <option value="Lorry Driver">Lorry Driver</option> <option value="Media Press">Media Press</option> <option value="Medical store">Medical store</option> <option value="Mobile sales and repair">Mobile sales and repair</option>
																			<option value="Music Keyboard Player">Music Keyboard Player</option> <option value="Music director">Music director</option> <option value="Nurse">Nurse</option> <option value="Optical">Optical</option> <option value="Painting works">Painting works</option> <option value="Petrol working">Petrol working</option> <option value="Photo Studio">Photo Studio</option> <option value="Photo frame shop">Photo frame shop</option> <option value="Photographay">Photographay</option> <option value="Photos frame makers">Photos frame makers</option>
																			<option value="Plumber Technician">Plumber Technician</option> <option value="Police officers">Police officers</option> <option value="Politician">Politician</option> <option value="Post man">Post man</option> <option value="Printing Press">Printing Press</option> <option value="Private Employee">Private Employee</option> <option value="Private Teacher">Private Teacher</option> <option value="Rto">Rto</option> <option value="Singer">Singer</option> <option value="Software Engineering">Software Engineering</option> <option value="Software developers">Software developers</option>
																			<option value="Sound system operating">Sound system operating</option> <option value="Student ">Student</option> <option value="Tabala player">Tabala player</option> <option value="Tailor">Tailor</option> <option value="Temple poojari">Temple poojari</option> <option value="Tiffin Center">Tiffin Center</option> <option value="Tiles works">Tiles works</option> <option value="Tractor Driver">Tractor Driver</option> <option value="Transport work">Transport work</option> <option value="Vegetable sales">Vegetable sales</option> <option value="Videographay">Videographay</option> <option value="Watch man duty">Watch man duty</option>
																			<option value="Welding Work">Welding Work</option> <option value="Wine shop working">Wine shop working</option> <option value="Writer">Writer</option> <option value="Lab technician">Lab technician</option>
																			</select>
					<tr><td  width="200px">PRESENT ADDRESS:		</td>	<td><textarea name="ypresentaddress" class="form-control"  /></textarea></td></tr>
					<tr><td  width="200px">PERMANENT ADDRESS:	</td>	<td><textarea name="ypermanentaddress" class="form-control"  /></textarea></td></tr>
					<tr><td  width="200px">DISEASE:				</td>	<td><input type="text" name="ydisease" class="form-control"  /></td></tr>
					<tr><td  width="200px">AADHAR NUMBER:		</td>	<td><input type="text" name="yaadharnumber" class="form-control"  /></td></tr>
				</table><br>
				<table>		
					<tr><td  width="200px">MOBILE NUMBER:		</td>	<td width="350px"><input type="text" name="ymobilenumber" class="form-control"  /></td>
						<td  width="100px">EMERGENCY NO:					</td>	<td width="350px"><input type="text" name="yemergencyno" class="form-control"  /></td>
					</tr>
				</table>
				<table>
					<tr>
						<td  width="200px">WEIGHT:				</td>	<td width="150px"><input type="text" name="yweight" class="form-control"  /></td>
						<td  width="50px">BP:					</td>	<td width="150px"><input type="text" name="ybp" class="form-control"  /></td>
						<td  width="100px">PULSE RATE:			</td>	<td width="150px"><input type="text" name="ypulserate" class="form-control"  /></td>
						<td  width="50px">SUGAR:				</td>	<td width="150px"> <select name="ysugar" class="form-control"> <option value="">-SELECT-</option> <option value="Yes">Yes</option> <option value="No">No</option> </select></td>
					</tr>
				</table>
						
					<div class="row">
						<div class="cal-3"><input type="submit" value="SUBMIT YOGA FORM" class="btn btn-success" /></div>
						<div class="col-6"><b><span th:text="${msg}" style='color: green'></span></b></div>
						<div class="col-2"> <h5> <a href="/trust/yoga">Home Page</a> </h5></div>
			
					</div>

								
				
				Form submission start	
				<hr>
				<b>SELF DECLARATION :-</b>
					<p>I/We Hereby Declare that I/We shall strictly allow all Ashrama rules of Sri Basavalinga Avadhoota Ashram and The ashrama is conducting yoga shibira are so 
				I/We are participating in the yoga voluntary, so any risk for health concern or else any short things happen I/We responsible for the same for which ashrama will 
				not responsible for any type of loss harm theft abnormality missing emergencies etc. I are aware that there is no emergency service available at Sri basavalinga avadhoota 
				ashram and we are staying here on our own risk and the Sri basavalinga avadhoota ashrama will not be responsible for the above.</p>
				<br>
				<br>
				<table>
					<tr>
						<td width="700px"> <input type="text" name="yattendeesign" class="form-control"  /></td>
						<td width="800px"> <input type="text" name="yguardiansign" class="form-control"  /></td>
						<td width="800px"> <input type="text" name="yinchargesign" class="form-control"  /></td>
					</tr>
					<tr>
						<td width="700px"> <b><font size="4" color="Black">ATTENDEE SIGN </font></b></td>
						<td width="800px"> <b><font size="4" color="Black">GUARDIAN SIGN </font></b></td>
						<td width="800px"> <b><font size="4" color="Black">INCHARGE SIGN </font></b></td>
					</tr>
				</table>
				</form>
			</div>

			<div class="card bg-secondary text-white">	
				<table>
					<tr height="100" align="center">
						<td width="220"><b><font size="5" color="white">+91-63 0529 0187</font></b></td>
						<td width="200"><b><font size="5" color="white">mallayyagiri121@gmail.com</font></b></td>
						<td><b><font size="5" color="white">C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</font></b></td>
					</tr>
				</table>
			</div>

		</div>
	</div> -->


</body>

</html>