<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<meta charset="ISO-8859-1">
<title>Guru Mala Information List</title>
<style>  .blink { animation: blinker 2.0s linear infinite; color: white; font-family: sans-serif; } @keyframes blinker { 50% { opacity: 0;  }  }  </style> </head>
<body>
	
	<table>
		<tr height="950">
			<td>
				<div class="card-footer bg-primary text-white" align="center">
					
					<!-- Header -->
					<div>
						<table>
							<tr>
								<td width="20px"></td>
								<td><img alt="No Internet" src="../static/assets/images/appajimages/logo3.png" height="160" width="170"></td>
								<td align="center"><H3> <b><a href="/trust/gurumalainfo"><font size="7" color="pink">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM, MALLAYYAGIRI</font></a></b></h3></td>
								<td><img alt="No Internet" src="../static/assets/images/appajimages/logo1.png" height="160" width="180"></td>
								<td width="20px"></td>
							</tr>
						</table>
					</div>
					<!-- End -->
					
					<!--Body  -->
					<div>
						<table>
							<tr>
								
								<td> <a href="/trust/gurumalainfo"> <img alt="No Internet" src="../static/assets/images/appajimages/back.png" width="100px" height="100px"></a></td>
								<td width="100"/>
								<td><b><font size="6" color="yellow"><u>GURU MALA LIST INFORMANTION</u></font></b></td>
								<td width="50"/>
								<td><b><font size="5" color="yellow">SEARCH BY NAME'S:</font></b> 
									<form th:action="@{/trust/guruMalaSearchByName}" method="POST">
										<input type="text" name="gurumalasearchbyname" required="required"/> 
										<input type="submit" style='font-size : 20px; height: 40px; width: 60%'/>
									</form>
								</td>
								<td width="50"/>
								
								<!-- <td><b><font size="5" color="yellow">PDF FOR MONTH:</font></b>
									<form th:action="@{/trust/visitorpdfmonthlywise}" method="POST">
									<select name="pdfdocmonthlywise" class="form-control"  required="required"> <option value="">-SELECT-</option>
									<option value="12 2022">12 2022</option> <option value="11 2022">11 2022</option>
									</select>
									<input type="submit" style='font-size : 20px; height: 40px; width: 60%' /></form></td> -->
								<!-- <td width="30"/> -->
						
								<!-- <td> <a href="/trust/gurumalalistpdf"> <img alt="No Internet" src="../static/assets/images/appajimages/pdf.jpg" width="100px" height="100px"></a></td>
								
								<td> 
									<div th:if="${pdf!=null}">
										<div style='font-size : 25px; color: green;'><b> <span th:text="${pdf}"></span></b></div>
										<img alt="No Internet" src="../static/assets/images/appajimages/yes.png" width="110px" height="110px">
									</div>
								</td> -->
							</tr>
						</table>
						
						<div th:if="${vdlist!=null}">
							<table border="1" class="card bg-secondary text-white">
								<tr>
									<th width="200px"><b><font size="4" color="white">S.NO</font></b></th>
									<th width="300px"><b><font size="4" color="white">FULL NAME</font></b></th>
									<th width="300px"><b><font size="4" color="white">PHONE NUMBER</font></b></th>
									<th width="300px"><b><font size="4" color="white">OCCUPATION</font></b></th>
									<th width="350px"><b><font size="4" color="white">ADDRESS</font></b></th>
									<th width="150px"><b><font size="4" color="white">IMAGE</font></b></th>
									<th width="350px"><b><font size="4" color="white">LINKS</font></b></th>
								</tr>
								<tr th:each="ob:${vdlist}" height="50px">
									<td th:text="${ob[1]}"></td>
									<td th:text="${ob[2]}"></td>
									<td th:text="${ob[3]}"></td>
									<td th:text="${ob[4]}"></td>
									<td th:text="${ob[5]}"></td>
									<td>
										<div th:if="${imgUtil!=null}">
											<div th:if="${imgs.get(ob[0])}">
												<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(imgs.get(ob[0]))}" id="output" width="100px" height="100px">
											</div>
										</div> 
									</td>
									<td><a th:href="@{/trust/vieweditgurumala(gmid=${ob[0]})}"><b><font size="4" color="Pink"><u>VIEW / EDIT</u></font></b></a> | 
										<a th:href="@{/trust/deletegurumala(gmid=${ob[0]})}"><b><font size="4" color="Red"><u>DELETE</u></font></b></a></td>
								</tr>
							</table>
						</div>

						
					</div>
					<!-- End -->
					
					<!-- footer -->
					<div>
						<table>
							<tr align="center">
								<td><font size="5" color="Yellow">Cell : <b><u> +916305290187 </b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="Yellow">Email Id : <u><b>mallayyagiri121@gmail.com</b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="Yellow">Address : <u><b>C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</b></u></font></td>
							</tr>
						</table>
					</div>
					<!-- End -->

				</div>
			</td>
		</tr>
	</table>
	








	<!-- <div>
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<table>
					<tr>
						<td width="40px"></td>
						<td> <img alt="No Internet" src="../static/assets/images/appajimages/appaji8.jpg" height="160" width="160"></td>
						<td width="950px" align="center"><H3><b><a href="/trust/gurumalainfo"><font size="6" color="white">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM</font></a></b></h3></td>
						<td> <img alt="No Internet" src="../static/assets/images/appajimages/logo.jpg" height="160" width="160"></td>
					</tr>
				</table>
			</div>
			<div class="card-body">
				<table>
				<tr>
					<td> <a href="/trust/gurumalainfo"><b><font size="5" color="chocolate">Back</font></b></a></td>
					<td width="200"/>
					<td> <b><font size="6" color="green">Guru Mala Information List</font></b></td>
					<td width="120"/>
					<td> <a href="/trust/gurumallist"><b><font size="5" color="chocolate">Refresh</font></b></a></td>
				</tr>
				</table>	
				
				<div align="center" style='font-size : 25px; color: red;'><b> <span th:text="${removemsg}"></span></b></div>
				<hr>
				<table>
					<tr>
						<td><b><font size="4" color="chocolate">SEARCH BY DATE:</font></b><form th:action="@{/trust/visitorSearchWithDate}" method="POST">
						<input type="date" name="gurumalasearchwitdate"  required="required" />	
						<input type="submit" style='font-size : 20px; height: 40px; width: 60%' /></form></td>
						<td width="20">
						
						 <td><b><font size="4" color="chocolate">SEARCH BY NAME'S:</font></b> <form th:action="@{/trust/guruMalaSearchByName}" method="POST">
							<input type="text" name="gurumalasearchbyname" required="required"/> <input type="submit" style='font-size : 20px; height: 40px; width: 60%'/></form></td>
						<td width="30"/>
						
						<td><b><font size="4" color="chocolate">PDF FOR MONTH:</font></b><form th:action="@{/trust/gurumalapdfmonthlywise}" method="POST">
								<select name="pdfdocmonthlywise" class="form-control"  required="required"> <option value="">-SELECT-</option>
								<option value="12 2022">12 2022</option> <option value="11 2022">11 2022</option>
								</select>
								<input type="submit" style='font-size : 20px; height: 40px; width: 60%' /></form></td>
						<td width="50"/>
						<td> <a href="/trust/gurumalalistpdf"><b><font size="5" color="chocolate">Full PDF Document List</font></b></a></td>
					</tr>						
				</table>
				<div style='font-size : 25px; color: green;'><b> <span th:text="${pdf}"></span></b></div>
				<hr>
				all visitor details information list 
				<div th:if="${vdlist!=null}">
					<table border="1">
						<tr class="bg-info text-white" align="center">
							<th width="100px"><b><font size="4" color="white">S.NO</font></b></th>
							<th width="200px"><b><font size="4" color="white">FULL NAME</font></b></th>
							<th width="180px"><b><font size="4" color="white">PHONE NUMBER</font></b></th>
							<th width="180px"><b><font size="4" color="white">OCCUPATION</font></b></th>
							<th width="250px"><b><font size="4" color="white">ADDRESS</font></b></th>
							<th width="200px"><b><font size="4" color="white">LINKS</font></b></th>
						</tr>
						<tr th:each="ob:${vdlist}" align="center">
								<td th:text="${ob[1]}"></td>
								<td th:text="${ob[2]}"></td>
								<td th:text="${ob[3]}"></td>
								<td th:text="${ob[4]}"></td>
								<td th:text="${ob[5]}"></td>
								
							<td><a th:href="@{/trust/vieweditgurumala(gmid=${ob[0]})}"><b><font size="4" color="Green">VIEW / EDIT</font></b></a> | 
								<a th:href="@{/trust/deletegurumala(gmid=${ob[0]})}"><b><font size="4" color="Red">DELETE</font></b></a></td>
						</tr>
					</table>
				</div>
				all Gurumala list end 
			</div>
			
			<div class="card bg-secondary text-white">	
				<table>
					<tr height="100" align="center">
						<td width="220"><b><font size="5" color="white">+91-63 0529 0187</font></b></td>
						<td width="200"><b><font size="5" color="white">mallayyagiri121@gmail.com</font></b></td>
						<td><b><font size="5" color="white">C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</font></b></td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	 -->
</body>
</html>