<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<meta charset="ISO-8859-1">
<title>Yoga Volunteer Information List</title>
<style>  .blink { animation: blinker 2.0s linear infinite; color: white; font-family: sans-serif; } @keyframes blinker { 50% { opacity: 0;  }  }  </style> </head>
<body>

	<table>
		<tr height="950">
			<td>
				<div class="card-footer bg-primary text-white" align="center">
					
					<!-- Header -->
					<div>
						<table>
							<tr>
								<td width="20px"></td>
								<td><img alt="No Internet" src="../static/assets/images/appajimages/logo3.png" height="160" width="170"></td>
								<td align="center"><H3> <b><a href="/trust/volunteer"><font size="7" color="pink">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM, MALLAYYAGIRI</font></a></b></h3></td>
								<td><img alt="No Internet" src="../static/assets/images/appajimages/logo1.png" height="160" width="180"></td>
								<td width="20px"></td>
							</tr>
						</table>
					</div>
					<!-- End -->
					
					<!--Body  -->
					<div>
						<table>
							<tr>
								<td> <a href="/trust/volunteer"> <img alt="No Internet" src="../static/assets/images/appajimages/back.png" width="100px" height="100px"></a></td>
								<td width="500"/>
								<td><b><font size="6" color="yellow"><u>VOLUNTEER LIST INFORMANTION</u></font></b></td>
								<td width="500"/>
							</tr>
						</table>
						
						<div th:if="${vdlist!=null}">
							<table border="1" class="card bg-secondary text-white">
								<tr>
									<th width="100px"><b><font size="5" color="white">SNO</font></b></th>
									<th width="300px"><b><font size="5" color="white">YOGA ID</font></b></th>
									<th width="300px"><b><font size="5" color="white">BATCH NO</font></b></th>
									<th width="300px"><b><font size="5" color="white">FULL NAME</font></b></th>
									<th width="300px"><b><font size="5" color="white">PROFILE</font></b></th>
									<th width="300px"><b><font size="5" color="white">PHONE NUMBER</font></b></th>
									<th width="300px"><b><font size="5" color="white">ADDRESS</font></b></th>
									<th width="150px"><b><font size="5" color="white">IMAGES</font></b></th>
									<th width="300px"><b><font size="5" color="white">LINKS</font></b></th>
									
								</tr>
								<tr th:each="ob:${vdlist}" height="50px">
									<td th:text="${ob[1]}"></td>
									<td th:text="${ob[2]}"></td>
									<td th:text="${ob[3]}"></td>
									<td th:text="${ob[4]}"></td>
									<td th:text="${ob[5]}"></td>
									<td th:text="${ob[6]}"></td>
									<td th:text="${ob[7]}"></td>
									<td>
										<div th:if="${imgUtil!=null}">
											<div th:if="${imgs.get(ob[0])}">
												<img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(imgs.get(ob[0]))}" id="output" width="100px" height="100px">
											</div>
										</div> 
									</td>
									<td><a th:href="@{/trust/editviewyogavolunteer(yvid=${ob[0]})}"><b><font size="4" color="Pink"><u>VIEW / EDIT</u></font></b></a> | 
										<a th:href="@{/trust/deleteyogavolunteer(yvid=${ob[0]})}"><b><font size="4" color="Red"><u>DELETE</u></font></b></a></td>
								</tr>
							</table>
						</div>
						
					</div>
					<!-- End -->
					
					<!-- footer -->
					<div>
						<table>
							<tr align="center">
								<td><font size="5" color="Yellow">Cell : <b><u> +916305290187 </b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="Yellow">Email Id : <u><b>mallayyagiri121@gmail.com</b></u></font></td>
								<td width="50px"></td>
								<td><font size="5" color="Yellow">Address : <u><b>C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</b></u></font></td>
							</tr>
						</table>
					</div>
					<!-- End -->

				</div>
			</td>
		</tr>
	</table>
	









	<!-- <div>
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<table>
					<tr>
						<td width="40px"></td>
						<td> <img alt="No Internet" src="../static/assets/images/appajimages/appaji8.jpg" height="160" width="160"></td>
						<td width="950px" align="center"><H3><b><a href="/trust/yogavolunteer"><font size="6" color="white">WELCOME TO SRI BASAVALINGA AVADHOOTA ASHRAM</font></a></b></h3></td>
						<td> <img alt="No Internet" src="../static/assets/images/appajimages/logo.jpg" height="160" width="160"></td>
					</tr>
				</table>
			</div>
			<div class="card-body">
				<table>
				<tr>
					<td> <b><font size="6" color="black"><span th:text="${name}"></span></font></b></td>
					<td width="130"/>
					<td> <b><font size="6" color="green">Meditation Information List</font></b></td>
				</tr>
				</table>
				<table>
				<tr>
					<td> <a href="/trust/yogavolunteer"><b><font size="5" color="chocolate">Back</font></b></a></td>
					<td> <b><font size="6" color="black"><span th:text="${name}"></span></font></b></td>
					<td width="200"/>
					<td> <b><font size="6" color="green">Yoga Volunteer Information List</font></b></td>
					<td width="120"/>
					<td> <a href="/trust/yogavolunteerlist"><b><font size="5" color="chocolate">Refresh</font></b></a></td>
				</tr>
				</table>	
				
				<table>
				<tr>
					<td> <a href="/trust/yoga"><b><font size="5" color="green">Home Page</font></b></a></td>
					<td width="70"/>
					<td> <a href="/logout"><b><font size="5" color="green">Logout</font></b></a></td>
					<td width="70"/>
					<td> <form th:action="@{/trust/searchyogaids}" method="POST"><b><font size="5" color="green">Search:</font></b> <input type="text" name="yogaoption"/> <input type="submit" /></form></td>
					<td width="70"/>
					<td> <a href="/trust/listofyogapeople"><b><font size="5" color="green">Refresh</font></b></a></td>
				</tr>
				</table>
				<div align="center" style='font-size : 25px; color: red;'><b> <span th:text="${removemsg}"></span></b></div>
			<hr>
				<table>
					<tr align="center"><td width="200"><b><font size="4" color="chocolate">SEARCH BY BATCH:</font></b><form th:action="@{/trust/yogaVolunteerSearchByBatch}" method="POST">
						<select name="yogavolunteersearchbybatch" required="required"> <option value="">-SELECT-</option>
								<option value="11">11</option>
								<option value="10">10</option> <option value="9">9</option>
								<option value="8">8</option> <option value="7">7</option>
								<option value="6">6</option> <option value="5">5</option>
								<option value="6">4</option> <option value="5">3</option>
								<option value="6">2</option> <option value="5">1</option>
								
													</select> 
						<input type="submit" style='font-size : 20px; height: 40px; width: 60%' /></form></td>
						<td width="30">
						<td> <form th:action="@{/trust/yogaVolunteerSearchByOccuption}" method="POST">
											<b><font size="4" color="chocolate">SEARCH BY OCCUPATION:</font></b>
													<select name="yogavolunteersearchbyoccupation" required="required"> <option value="">-SELECT-</option>
														<option value="Agriculture">Agriculture</option> <option value="3D Works">3D Works</option> <option value="Accounts">Accounts</option> <option value="Advocate">Advocate</option> <option value="Agarbatti making">Agarbatti making</option> <option value="Agriculture shop">Agriculture shop</option> <option value="Auto Driver">Auto Driver</option> <option value="Auto mobile shop">Auto mobile shop</option> <option value="Bakery works">Bakery works</option> <option value="Banks work">Banks work</option>
														<option value="Bed makers">Bed makers</option> <option value="Bike Mechanic">Bike Mechanic</option> <option value="Book store">Book store</option> <option value="Bus Driver">Bus Driver</option> <option value="Business works">Business works</option> <option value="Car Decors Works">Car Decors Works</option> <option value="Car Driver">Car Driver</option> <option value="Car Mechanic">Car Mechanic</option> <option value="Carpenter">Carpenter</option>
														<option value="Cccamera works">Camera works</option> <option value="Cement sales">Cement sales</option> <option value="Centring mestri">Centring mestri</option> <option value="Chart bhandar">Chart bhandar</option> <option value="Charter accounts">Charter accounts</option> <option value="Civil engineers">Civil engineers</option> <option value="ClothShop Work">ClothShop Work</option> <option value="Company">Company</option> <option value="Computer and laptop repair">Computer and Laptop repair</option> <option value="Conductor">Conductor</option>
														<option value="Cook">Cook</option> <option value="Dholak player">Dholak player</option> <option value="Doctor">Doctor</option> <option value="Electrical Technician">Electrical Technician</option> <option value="Farmer">Farmer</option> <option value="Fastfood center">Fastfood center</option> <option value="Financial analyst">Financial analyst</option> <option value="Flower sales">Flower sales</option> <option value="Foot wear">Foot wear</option>
														<option value="Fruits sales">Fruits sales</option> <option value="Furniture">Furniture</option> <option value="GOvernment Employee">GOvernment Employee</option> <option value="General store">General store</option> <option value="Goldsmith">Goldsmith</option> <option value="Government Teacher">Government Teacher</option> <option value="Hair saloon">Hair saloon</option> <option value="Hardware shop">Hardware shop</option> <option value="House wife">House wife</option> <option value="Housekeeper">Housekeeper</option>
														<option value="Juice center">Juice center</option> <option value="Kiranshop Work">Kiranshop Work</option> <option value="Labour Work">Labour Work</option> <option value="Lawyer">Lawyer</option> <option value="Leaders">Leaders</option> <option value="Lorry Driver">Lorry Driver</option> <option value="Media Press">Media Press</option> <option value="Medical store">Medical store</option> <option value="Mobile sales and repair">Mobile sales and repair</option>
														<option value="Music Keyboard Player">Music Keyboard Player</option> <option value="Music director">Music director</option> <option value="Nurse">Nurse</option> <option value="Optical">Optical</option> <option value="Painting works">Painting works</option> <option value="Petrol working">Petrol working</option> <option value="Photo Studio">Photo Studio</option> <option value="Photo frame shop">Photo frame shop</option> <option value="Photographay">Photographay</option> <option value="Photos frame makers">Photos frame makers</option>
														<option value="Plumber Technician">Plumber Technician</option> <option value="Police officers">Police officers</option> <option value="Politician">Politician</option> <option value="Post man">Post man</option> <option value="Printing Press">Printing Press</option> <option value="Private Employee">Private Employee</option> <option value="Private Teacher">Private Teacher</option> <option value="Rto">Rto</option> <option value="Singer">Singer</option> <option value="Software Engineering">Software Engineering</option> <option value="Software developers">Software developers</option>
														<option value="Sound system operating">Sound system operating</option> <option value="Student ">Student</option> <option value="Tabala player">Tabala player</option> <option value="Tailor">Tailor</option> <option value="Temple poojari">Temple poojari</option> <option value="Tiffin Center">Tiffin Center</option> <option value="Tiles works">Tiles works</option> <option value="Tractor Driver">Tractor Driver</option> <option value="Transport work">Transport work</option> <option value="Vegetable sales">Vegetable sales</option> <option value="Videographay">Videographay</option> <option value="Watch man duty">Watch man duty</option>
														<option value="Welding Work">Welding Work</option> <option value="Wine shop working">Wine shop working</option> <option value="Writer">Writer</option> <option value="Lab technician">Lab technician</option>
													</select> 
										<input type="submit" style='font-size : 20px; height: 40px; width: 60%'/></form></td>
						<td width="30">
						<td> <form th:action="@{/trust/yogaVolunteerSearchByIds}" method="POST"><b><font size="4" color="chocolate">SEARCH BY ID'S:</font></b> 
							<input type="text" name="yogavolunteerids" required="required"/> <input type="submit" style='font-size : 20px; height: 40px; width: 60%'/></form></td>
						<td width="30">	
						<td> <form th:action="@{/trust/yogaVolunteerSearchByName}" method="POST"><b><font size="4" color="chocolate">SEARCH BY NAME'S:</font></b> 
							<input type="text" name="yogavolunteersearchbyname" required="required"/> <input type="submit" style='font-size : 20px; height: 40px; width: 60%'/></form></td>
					</tr>						
				</table>
				<hr>
				<div class="row">
					<div class="col-2">	<h5><span th:text="${name}"></span></h5></div>
					<div class="col-2">	<h5><a href="/trust/yoga">Home Page</a></h5></div>
					<div class="col-2">	<h5><a href="/logout">Logout</a></h5></div>
					<div class="col-4">	<form th:action="@{/trust/searchyogaids}" method="POST">Search: <input type="text" name="yogaoption"/> <input type="submit" /></form></div>
					<div class="col-2">	<h5><a href="/trust/listofyogapeople">Refresh</a></h5></div>
			</div>
			
		<div align="center" style='color: red'> <b><span th:text="${removemsg}"></span></b>
			</div>

				all visitor details information list 
				<div th:if="${vdlist!=null}">
					<table border="1">
						<tr class="bg-info text-white">
							<th width="100px"><b><font size="4" color="white">YOGA ID</font></b></th>
							<th width="150px"><b><font size="4" color="white">BATCH NO</font></b></th>
							<th width="200px"><b><font size="4" color="white">FULL NAME</font></b></th>
							<th width="200px"><b><font size="4" color="white">PHONE NUMBER</font></b></th>
							<th width="200px"><b><font size="4" color="white">OCCUPATION</font></b></th>
							<th width="200px"><b><font size="4" color="white">LINKS</font></b></th>
						</tr>
						<tr th:each="ob:${vdlist}">
								<td th:text="${ob[1]}"></td>
								<td th:text="${ob[2]}"></td>
								<td th:text="${ob[3]}"></td>
								<td th:text="${ob[4]}"></td>
								<td th:text="${ob[5]}"></td>
								<td th:text="${ob[6]}"></td>
								<td th:text="${ob[7]}"></td>
								 
							<td><a th:href="@{/trust/yogaparticipentprofilelink(yid=${ob[0]})}"><b>VIEW</b></a>
								| <a th:href="@{/trust/edityoga(yid=${ob[0]})}"><b>EDIT</b></a> | <a
								th:href="@{/trust/deleteyoga(yid=${ob[0]})}"><b>DELETE</b></a></td>
								
							<td><a th:href="@{/trust/editviewyogavolunteer(yvid=${ob[0]})}"><b><font size="4" color="Green">VIEW / EDIT</font></b></a> | 
									<a th:href="@{/trust/deleteyogavolunteer(yvid=${ob[0]})}"><b><font size="4" color="Red">DELETE</font></b></a></td>	
								
						</tr>
					</table>
				</div>
				all visitor list end 
			</div>
			
			<div class="card bg-secondary text-white">	
				<table>
					<tr height="100" align="center">
						<td width="220"><b><font size="5" color="white">+91-63 0529 0187</font></b></td>
						<td width="200"><b><font size="5" color="white">mallayyagiri121@gmail.com</font></b></td>
						<td><b><font size="5" color="white">C/o Sri Basavalinga Avadhoota Ashram (TRUST) Mallayyagiri vlg:Kuppanagar M:Jharasangam D:Sangareddy</font></b></td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	 -->
</body>
</html>